.navbar-default-pantec {
    background: url("../img/menu/pedacoBackGroundMenu.png") repeat-x;
    border-color:transparent;
}

.linkMenu {
    display: flex !important;
}

.logoMenu {
    width:202px; /*width of your image*/
    height:58px; /*height of your image*/
    background-image:url('../img/menu/icones/logoPantec.png');
}

.icone-servicos {
    margin-right: 5%;
    width:28px; /*width of your image*/
    height:22px; /*height of your image*/
    background-image:url('../img/menu/icones/servicos.png');
}


.icone-telefone{
    margin-right: 5%;
    width:29px; /*width of your image*/
    height:29px; /*height of your image*/
    background-image:url('../img/contato/icone-telefone.png');
}

.linhaInformacoesContato {
    display: -webkit-inline-box;
}

.icone-celular{
    margin-right: 5%;
    width:29px; /*width of your image*/
    height:29px; /*height of your image*/
    background-image:url('../img/contato/icone-celular.png');
}

.icone-facebook{
    margin-right: 5%;
    width:29px; /*width of your image*/
    height:29px; /*height of your image*/
    background-image:url('../img/contato/icone-facebook.png');
}


.icone-email{
    margin-right: 5%;
    width:29px; /*width of your image*/
    height:29px; /*height of your image*/
    background-image:url('../img/contato/icone-email.png');
}

.icone-contato{
    margin-right: 5%;
    width:25px; /*width of your image*/
    height:18px; /*height of your image*/
    background-image:url('../img/menu/icones/contato.png');
}

.icone-inicio{
    margin-right: 5%;
    width:24px; /*width of your image*/
    height:16px; /*height of your image*/
    background-image:url('../img/menu/icones/home.png');
}

.icone-empresa{
    margin-right: 5%;
    width:22px; /*width of your image*/
    height:18px; /*height of your image*/
    background-image:url('../img/menu/icones/empresa.png');
}

.navbar-brand-pantec {
    float: left;
    /* padding: 19.5px 15px; */
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}

.row-pantec{
    margin-left:-15px;
    margin-right:-15px;
    margin-top: -120px;
    background-color: black;
}

.logoPantec {
    width:419px; /*width of your image*/
    height:124px; /*height of your image*/
    background-image:url('../img/inicio/logoPantec.png');
    margin: 25% 0  0 10%;
}

.textoGrandeInicio {
    font-size: -webkit-xxx-large;
    margin-bottom: 3%;
    color: #f09700;
    padding-left:10%;
    padding-right:10%;
}

.itensTextoInicio {
    color: #ef4e23;
    font-family: Trebuchet MS;
    font-size: x-large;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    float: right;
}

.divContainerTextoGrandeESeta {
   display: flex;
    width: 33%;
}

.icone-seta-laranjada{
    margin-right: 2%;
    margin-top: 11px;
    width:13px; /*width of your image*/
    height:15px; /*height of your image*/
    background-image:url('../img/inicio/setaLaranjada.png');
}

.containerTextos {
    padding-left:13%;display: -webkit-inline-box; width: 100%;
    margin-bottom: 2%;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

header li {
    display: flex;
    width: 100%;
    margin-right: 5%;
}



.containerComFundoPGigante {

    margin-top: -10%;
    width: 100%;
    background: url("../img/empresa/pGigante.png") no-repeat;

}

.containerServicos {
    background: url("../img/servicos/background-servicos.png");
    min-height: 534px;
}

.headerSection{
    background: black;
    min-height: 50px;
    width: 100%;
    margin-top: -10%;
}
.footerServicos {
    background: black;
    min-height: 200px;

}

.containerImagemMissao {
    padding-top: 12%;
    padding-left: 30%;
}


.tituloEmpresa {
    float: right;
    display: -webkit-inline-box;
    color: #5c686d;
}

.tituloEmpresatexto{
    font-family: HandelGothic BT;
    font-size: larger;
}

.icone-engrenagem{
    margin-right: 5%;
    width:28px; /*width of your image*/
    height:27px; /*height of your image*/
    background-image:url('../img/empresa/iconeEngrenagem.png');
}

.icone-seta-amarela-invertida{
    margin: -4% 0% 0% 5%;
    width:35px; /*width of your image*/
    height:42px; /*height of your image*/
    background-image:url('../img/empresa/iconeSetaAmarelaInvertida.png');
}

.textoSectionEmpresa {
    width: 40%;
    text-align: center;
    margin-left: 50%;
    padding-top: 13%;
    font-size: larger;
}

.containerEnviaMensagem {
    width: 50%;
    margin-top: -17.5%;

    float: right;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: black;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: black;
}